.Button {
    width: 200px;
    text-align: center;
   border-radius: 6px;
   display: inline-block;
   padding: 20px 15px;
   text-decoration: none;
   text-shadow: 0 1px 1px rgba();
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
   background-color: #5f9afa;
   border: none;
}

.Button:hover{
    background-color: #0c64f2;
}

.Button:active{
    background-color: #083b8c;
}


/* color: black;
text-decoration: none;
background-color: grey;
border-radius: 10px;
border-style: none;
font-size: medium;
width: 100%;
 */